[Unit]
Description=Emacs: the extensible, self-documenting text editor

[Service]
Type=forking
ExecStart=/usr/bin/emacs --daemon=cli -q -l /home/nyman/.emacs.d/cli.el
ExecStop=/usr/bin/emacsclient -s cli --eval "(kill-emacs)"
Restart=always

[Install]
WantedBy=default.target
